body {
  width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  align-self: center;
}

.header__link {
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link_active {
  text-decoration-line: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 134px;
  height: 105px;
}

.address {
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address > a {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: right;
  align-self: center;
}


.cover {
  position: relative;
  width: 1440px;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: white;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 /0.6);

}

.accent-span {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text-center {
  padding-right: 30px;
  line-height: 1;
  text-align: center;
}

.text-right {
  line-height: 1;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  top: 133px;
  left: 372px;
  display: flex;
  gap: 78px;
}

.cover__description-text {
  align-self: center;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  align-self: flex-end;
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor:pointer;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  color: white;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-link {
  text-decoration: none;
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
  padding: 181px 50px 0;
}

.about__column-logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.about__column-text {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 97px;
  padding: 180px 50px 90px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}

.footer__menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

